body {
  background: tan;
  margin-left: 5%;
  font-family: helvetica;
}

input {
  display: block;
  margin: 10px 0 0 0;
  padding: 5px;
  border: 1px solid black;
}

a {
  display: block;
  margin: 10px 0 0 10px;
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
}

h3 {

}
