<h1>Tenants in Apartment 1</h1>

<h3>Joe Cocker</h3>
  <ul>
    <li>Info about Joe</li>
  </ul>
<h3>Steve McQueen</h3>
<ul>
  <li>Info about Steve</li>
</ul>

<a href = '/apartments/1/tenants/new'>Add a Tenant</a>
