<h1>Create a New Apartment</h1>

<h2>Enter the Apartment Info in the Fields Below</h2>
<form method="post" action="/apartments">
  <input type="text" placeholder="Address">
  <input type="text" placeholder="Monthly Rent">
  <input type="text" placeholder="Square Feet">
  <input type="text" placeholder="Number of Beds">
  <input type="text" placeholder="Number of Baths">
  <input type="submit">
</form>
